body{
    background-color:green;
}
.divcomeco{
    text-align: center;
    background-color: yellow;
}
.div2{
    text-align: center;
}
.imagem{
    text-align: center;
}
.div3{
    text-align: center;
}